/* Some quirks mode stuff for compatibility. */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #515151;
    background-color: #e8e8e8;
    /* Mobile stuff. */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
@media(min-width: 20rem) {
  html, body {
      font-size: 20px;
  }
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
}

h1 {
    font-size: 2rem;
}
@media(max-width: 48rem) {
    h1 {
        font-size: 1.3rem;
    }
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}
@media(max-width: 48rem) {
    h2 {
        margin-top: 1rem;
        font-size: 1.2rem;
    }
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}
@media(max-width: 48rem) {
    h2 {
        margin-top: 1.5rem;
        font-size: 1.1rem;
    }
}

h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

/* Body text */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    color: #303030;
}

ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
}

hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

abbr {
    font-size: 85%;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
}

code, pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 3px;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}

.highlight {
    margin-bottom: 1rem;
    border-radius: 4px;
}

.highlight pre {
    margin-bottom: 0;
}

blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;
}

blockquote p:last-child {
    margin-bottom: 0;
}
@media (min-width: 30rem) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}

img {
    display: inline;
    margin: 0 0 0.3rem;
    border-radius: 5px;
    max-width: 100%;
}

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

td, th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

/* Sidebar - Starts out above content on mobile and later moves to the side with wider viewports. */
.sidebar {
    text-align: center;
    vertical-align: top;
    padding: 0rem 1rem 0rem 1rem;
    background-color: #ffffff;
}
@media (min-width: 48rem) {
  .sidebar {
      display: table-cell;
      width: 18rem;
      text-align: left;
      background-color: #ffffff;
  }
}

/* Adding a fixed position container that will stay on the screen as the page scrolls. */
@media(min-width: 48rem) {
    .sliding-container {
        position: fixed;
        top: 0px;
        left: 20px;
    }
}

.logo-container {
    width: 100%;
    text-align: center;
}

.logo {
    margin-top: 0.8em;
    width: 120px;
    height: 60px;

}
@media(min-width: 48rem) {
    .logo {
        width: 200px;
        height: 100px;
    }
}

.menu-container {
    text-align: center;
    padding: 0.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    opacity: 0.9;
}

.menu-separator {
    display: inline;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.sidebar a.menu-entry {
    font-family: Ubuntu;
    color: #ffffff;
}

.active {
    font-weight: bold;
}

.sidebar a:hover, a:focus {
    text-decoration: underline;
}

.adslot_1  {
    text-align: center;
    width: 280px;
    height: 100px;
 }

@media (min-height: 1100px) {
  .adslot_1 {
    width: 280px;
    height: 550px;
  }
}

@media(max-width: 48rem) {
    .archive-box {
        width: 260px;
        text-align: center;
        padding-left: 5px;
        list-style: none;
    }
}
@media(min-width: 48rem) {
    .archive-box {
        width: 280px;
        text-align: left;
        padding-left: 5px;
        list-style: none;
    }
}

@media(max-width: 48rem) {
    .archive-list {
        display: none;
    }
}

.license-box {
    text-align: center;
    padding-top: 1em;
}

a.license:hover, a.license:focus {
    text-decoration: none;
}

.license-image {
    height: 20px;
    width: 20px;
}

@media (min-width: 48rem) {
  .content {
    display: table-cell;
    max-width: 24rem;
    padding: 0.5rem 0.5rem;
  }
}

@media (min-width: 64rem) {
  .content {
    display: table-cell;
    max-width: 46rem;
    padding: 1rem 1rem;
  }
}
