/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-top: 5rem;
    line-height: 2;
    color: #313131;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 250%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
	margin:0;
	padding:0;
}

#dota-title {
    color: #ffffff;
}

#hearthstone-title {
    color: #ffffff;
}

#oblio-title {
    color: #a93a54;
}

#footer {
	clear:both;
	float:left;
	width:100%;
	text-align: center;
	background-color: #494949;
	color: #ffffff;
	margin-top: 1px;
}

/* 3-columns. */
#right-container {
	clear:left;
	float:left;
	width:100%;
	height: 98%;
	overflow:hidden;
	background:#ffffff;
}

#mid-container {
	clear:left;
	float:left;
	width:100%;
	height: 100%;
	position:relative;
	right:33.333%;
	background:#2882cd;	
}

#left-container {
	float:left;
	width:100%;
	height: 100%;
	position:relative;
	right:33.33%;
	background:#850303;
}

#left-column {
	float:left;
	width:29.33%;
	position:relative;
	left:68.67%;
	overflow:hidden;
}

#mid-column {
	float:left;
	width:29.33%;
	position:relative;
	left:72.67%;
	overflow:hidden;
}

#right-column {
	float:left;
	width:29.33%;
	position:relative;
	left:76.67%;
	overflow:hidden;
}
/* End of 3-columns. */
