* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    max-width: 2048px;
    font-size: 16px;
    background-color: #f0f0f0;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #3e3e3e;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
}

hr {
    position: relative;
    margin: 0.5em 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #dedede;
}

.layout {
    height: 100%;
    width: 100%
}

.header {
    height: 255px;
    width: 100%;
    background-image: url("/images/header-small.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.logo-container {
    max-width: 700px;
    margin-left: 1.2em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 3px #909090;
}

.logo {
    max-width: 400px;
    max-height: 200px;
}

.motto {
    padding-bottom: 0.2em;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    color: #09415a;
}

.story {
    font-size: 120%;
    max-width: 100%;
    margin-top: 1em;
    margin-left: 0.2em;
    padding: 1em;
    text-align: justify;
}

.content {
    width: 100%;
    min-height: 1000px;
}

.cards {
    float: left;
}
@media(max-width: 439px) {
    .cards {
        width: 300px;
    }
}
@media(min-width: 440px) and (max-width: 639px) {
    .cards {
        width: 400px;
    }
}
@media(min-width: 640px) and (max-width: 1199px) {
    .cards {
        width: 500px;
    }
}
@media(min-width: 1200px) {
    .cards {
        width: 700px;
    }
}

.card {
    display: table;
    height: 100%;
    margin-top: 1em;
    margin-left: 1em;
    padding: 1em;
    box-shadow: 0 1px 3px #909090;
}

.card-info {
    display: table-cell;
    width: 300px;
    padding-left: 10px;
    padding-bottom: 1em;
    background-color: #fefefe;
    opacity: 0.8;
    border-radius: 2px;
}

.content-logo {
    width: 240px;
    height: 100px;
    float: left;
}

.title {
    float: right;
}

.title, .description {
    color: #3e3e3e;
}



.description {
    width: 180px;
}

.title {
    font-size: 200%;
}

.description {
    padding-top: 1em;
}

.card-content {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
@media(max-width: 639px) {
    .card-content {
        display: none;
    }
}

.latest-article {
    display: inline-block;
    width: 90%;
    height: 2em;
    line-height: 2em;
    overflow: hidden;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    background: #fefefe;
    opacity: 0.8;
    box-shadow: 0 1px 3px #909090;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media(max-width: 639px) {
    .latest-article {
        display: none;
    }
}

@media(min-width: 640px) and (max-width: 1199px) {
    .latest-article {
        width: 280px;
    }
}

@media(min-width: 1200px) {
    .latest-article {
        width: 480px;
    }
}

.latest-article a {
    color: #515151;
}

#dota-card {
    background: #850303;
    background-image: url("/images/windrunner-small.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#hearthstone-card {
    background: #ffab40;
    background-image: url("/images/hellfire-small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#blog-card {
    background: #82b1ff;
    background-image: url("/images/sky-small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tag-container {
    width: 400px;
    float: left;
    margin-top: 4em;
    margin-left: 6em;
    padding: 2em;
    padding-left: 2em;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 1px #909090;
}
@media(max-width: 1359px) {
    .tag-container {
        display: none;
    }
}

.tag-card {
    padding: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.article-tag {
    display: inline;
    padding: 0.2em;
    margin: 0.5em;
    line-height: 3em;
    box-shadow: 0 0.5px 1.5px #909090;
}

.article-tag a {
    color: #3e3e3e;
    padding: 0.5em;
}


.sidebar-social {
    display: none;
}
@media (min-width: 380px) {
    .sidebar-social {
        display: block;
        width: 70px;
        position: fixed;
        top: 320px;
        right: 0;
        background-color: #ffffff;
        box-shadow: 0 1px 2px #909090;
        text-align: center;
        font-size: 120%;
        line-height: 2.5;
    }
}

.fa-envelope-o {
    color: #515151;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-twitter {
    color: #37caf4;
}

.footer {
    display: block;
    text-align: center;
    padding-top: 10px;
}

@media(max-height: 600px) {
    .license-box {
        padding-top: 0;
    }
}

a.license:hover, a.license:focus {
    text-decoration: none;
}

.license-image {
    height: 20px;
    width: 20px;
}