* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Headings */
h1 {
    color: #ffffff;
}

#header {
    height: 10%;
    width: 100%;
}

#content {
    width: 100%;
    display: table;
    table-layout: fixed;
    /* Leave room for the footer. */
    height: 82%;
}

#row {
    display: table-row;
}

#left-column {
    display: table-cell;
    height: 100%;
    width: 30%;
    background: #850303;
    /*box-shadow: 10px 15px 10px -5px #888888, -10px 15px 10px -5px #888888;*/
}

#left-divider {
    display: table-cell;
    height: 100%;
    width: 1%;
}

#dota-title {
    height: 9%;
}

#dota-image {
    height: 90%;
    width: 100%;
}

#mid-column {
    display: table-cell;
    height: 100%;
    width: 33%;
    background: #ffab40;
    /*box-shadow: 10px 15px 10px -5px #888888, -10px 15px 10px -5px #888888;*/
}

#hearthstone-title {
    height: 9%;
}

#hearthstone-image {
    height: 90%;
    width: 100%;
}

#right-divider {
    display: table-cell;
    height: 100%;
    width: 1%;
}

#right-column {
    display: table-cell;
    height: 100%;
    width: 33%;
    background: #82b1ff;
    /*box-shadow: 10px 15px 10px -5px #888888, -10px 15px 10px -5px #888888;*/
}

#blog-title {
    height: 9%;
}

#blog-image {
    height: 90%;
    width: 100%;
}

#footer {
    width: 100%;
    height: 8%;
    text-align: center;
    background-color: #bdbdbd;
    color: #ffffff;
}

#license {
 }
