<div class="cards">
    <div class="card" id="dota">
        <div class="card-info">
            <a href="//dota.oblio360.com">
                <div class="title">Dota</div>
            </a>

            <div class="description">
                Dota history, news, opinions and guides.
            </div>
        </div>
        <div class="card-content">
            <div class="latest-articles">
            </div>
        </div>
    </div>
    <div class="card" id="hearthstone">
        <div class="card-info">
            <a href="//hearthstone.oblio360.com">
                <div class="title">Hearth&shy;stone</div>
            </a>

            <div class="description">
                Hearthstone decks, guides, crafting tips, news and opinions.
            </div>
        </div>

        <div class="card-content">

            <div class="latest-articles">
            </div>
        </div>
    </div>
    <div class="card" id="blog">
        <div class="card-info">

            <a href="//blog.oblio360.com">
                <div class="title">Blog</div>
            </a>

            <div class="description">
                Personal opinions about history, news, computers and programming.
            </div>
        </div>
        <div class="card-content">

            <div class="latest-articles">
            </div>
        </div>

    </div>
</div>
