<div class="cards">
    <div class="story">
            I'm your host, Oblio: a computer, gaming and history enthusiast.
            In this little corner of the internet you can read articles about things I like.
            To make it easy to find the best ones, here they are, sorted by topic ↓
    </div>
    <div class="card" id="dota-card">
        <div class="card-info">
            <a href="//dota.oblio360.com">
                <h1>Dota</h1>
                <div class="description">
                    Dota history, news, opinions and guides.
                </div>
            </a>
        </div>
        <div class="card-content">
            <div class="latest-dota-articles">
            </div>
        </div>
    </div>
    <div class="card" id="hearthstone-card">
        <div class="card-info">
            <a href="//hearthstone.oblio360.com">
                    <h2>Hearth&shy;stone</h2>
                <div class="description">
                   Hearthstone decks, guides, crafting tips, news and opinions.
                </div>

            </a>
        </div>

        <div class="card-content">

            <div class="latest-hearthstone-articles">
            </div>
        </div>
    </div>
    <div class="card" id="blog-card">
        <div class="card-info">
            <a href="//blog.oblio360.com">
                <h1>Blog</h1>
                <div class="description">
                    Personal opinions about history, news, computers and programming.
                </div>
            </a>
        </div>
        <div class="card-content">
            <div class="latest-blog-articles">
            </div>
        </div>

    </div>
</div>
