<div class="footer">
    <p>&copy;{{ site.time | date: '%Y' }} Oblio 360</p>
    <div class="license-box">
        <a class="license" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img class="license-image" src="/images/creative-commons.svg">
            <img class="license-image" src="/images/creative-commons-attribution.svg">
            <img class="license-image" src="/images/creative-commons-noncommercial-us.svg">
            <img class="license-image" src="/images/creative-commons-sharealike.svg">
        </a>
    </div>
</div>
