<div id="footer-row">
    <!-- Empty div because table-layout:fixed doesn't work with column-span:
     http://stackoverflow.com/questions/398734/colspan-all-columns
     :(
     -->
    <div class="footer"></div>
    <div class="footer">
        &copy;{{ site.time | date: '%Y' }} Oblio 360
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img id="license" alt="Creative Commons License" src="images/cc-by-nc-sa.png" />
        </a>
    </div>
    <!-- Empty div because table-layout:fixed doesn't work with column-span:
    http://stackoverflow.com/questions/398734/colspan-all-columns
    :(
    -->
    <div class="footer"></div>
</div>
