<head>
	<meta name="google-site-verification" content="-b5pIeozSxQpIjUztiA5w0GYCffNk4AW3gvjl-ONfl0" />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	
	<!-- 
	Using the picturefill.js polyfill to be able to serve responsive images.
	http://scottjehl.github.io/picturefill/ -> see <picture> below. 
	-->
	<script>
	// Picture element HTML5 shiv
	// document.createElement( "picture" );
	</script>
	<script src="js/picturefill.min.js" async></script>

	<link rel="stylesheet" type="text/css" href="css/main.css" />

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>
